.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 150px;
    height: 6vw;
    min-height: 100px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--border);

    width: 90%;
    height: 100%;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    width: auto;
    height: auto;
    max-height: 100%;
}

.navbar-left:hover > .navbar-icon {
    transform: scale(0.9);
}

.navbar-left:hover > .navbar-icon > .navbar-icon-container {
    background-image: url("logo-green.png");
}

.navbar-left:hover > h1 {
    transform: scale(0.9) translateX(-20px);
    color: var(--primary);
}

.navbar-icon {
    width: 45px;
    height: 45px;

    transition: all ease-in-out 0.15s;
}

.navbar-icon-container {
    background-image: url("./logo-black.png");
    transition: all ease-in-out 0.15s;
}

.navbar-left > h1 {
    cursor: pointer;
    line-height: 25px;
    transition: all ease-in-out 0.15s;
}

.navbar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    margin-right: 100px;

    width: auto;
    height: 100%;
}

.navbar-middle > a {
    color: var(--text);
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.navbar-middle > a:hover {
    color: var(--primary);
    transform: scale(0.9);
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;
}

.profile {
    background-color: var(--bg-dark);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    min-width: 50px;
    width: 3vw;
    height: 3vw;
    min-height: 50px;

    transition: all ease-in-out .15s;
}

.profile > h2 {
    cursor: pointer;
}

.profile:hover {
    transform: scale(0.9);
}

.signin {
    background-color: var(--bg-light);
    border-radius: 4px;

    padding: 5px 25px;

    transition: all ease-in-out 0.15s;
}

.signin:hover {
    background-color: var(--bg-dark);
    transform: scale(0.9);
}

.signin > p {
    cursor: pointer;
    color: var(--text);
    font-weight: 400;
}

.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    height: 722px;
    width:  100%;
}

.orders{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 2px solid var(--border);
    border-radius: 8px;

    padding: 15px 20px;

    width: 48%;
    height: 600px;
}

.order-header{
    display: flex;
    justify-content:space-between;
    align-items:center;

    width: 100%;
    height: auto;
}

.order-header > p {
    color: var(--text);
}

.total-header{
    display: flex;
    justify-content:space-between;
    align-items:center;

    width: 100%;
    height: auto;
}

.product-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow: auto;

    gap: 10px;

    padding-top:20px;

    width: 100%;
    height: 100%;
}

.product{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--border);
    border-radius: 8px;

    width: 100%;
    height: 90px;

    transition: all ease-in-out .15s;
}

.product:hover{
    transform: scale(0.98);
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;

    padding-left: 10px;

    
    width: 70%;
    height: 100%;
}

.product-info > h1{
    padding-bottom: 5px;
}

.product-buttons{
    display: flex;
    justify-content:flex-end;
    align-items: center;

    padding-right: 10px;

    gap: 10px;
    
    width: 30%;
    height: 100%;
}

.add-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--border);
    border-radius: 8px;

    height: 50px;
    width: 50px;

    transition: all ease-in-out .15s;
}

.add-button:hover{
    transform: scale(0.95);
}

.add-button-img-size{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
}

.add-button-img{
    display: flex;

    background-image: url("./add-icon.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.delete-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--border);
    border-radius: 8px;

    height: 50px;
    width: 50px;

    transition: all ease-in-out .15s;
}

.delete-button:hover{
    transform: scale(0.95);
}

.delete-button-img-size{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
}

.delete-button-img{
    display: flex;

    background-image: url("./delete-icon.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 5px;

    border: 2px solid var(--border);
    border-radius: 8px;

    padding: 15px 20px;

    width: 40%;
    height: 600px;
}

.checkout > p{
    margin-top: 10px;

    color: var(--text);
}

.check-out-input{
    display: flex;
    justify-self: center;
    align-items: center;

    padding-left: 5px;

    border: 2px solid var(--border);
    border-radius: 8px;

    width: 100%;
    height: auto;
}

.check-out-input > input{
    display: flex;
    justify-self: center;
    align-items: center;

    width: 100%;
    height: 40px;
}

.checkout > button{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    text-transform: uppercase;

    border-radius:6px ;

    background-color: var(--primary);

    width: 90px;
    height: 5vh;

    transition: all ease-in-out .15s;
}


.checkout > button:hover{
    background-color: oklch(78.943% 0.14154 155.742);
    transform: scale(0.95);
}
@media (max-width:550px) {
    .order-header{
        flex-direction:  column;

        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width:950px) {
    .cart-container{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        padding-top: 20px;
        padding-bottom: 20px;

        gap: 20px;
        height:auto ;
    }

    .orders{
        width: 90%;

        min-height: 700px;
    }

    .checkout{
        width: 90%;

        height: auto;
    }

    .product{
        justify-content: center;
        align-items: flex-start;
    
        flex-direction: column;

        gap: 3px;

        height: auto;
    }

    .product-buttons{
        justify-content: flex-start;
        align-items: center;

        padding-right: 0px;

        padding-left: 10px;
        padding-bottom: 10px;

        width: 100%;

        gap: 10px;

        height: auto;
    }

    .product-info{
        justify-content: center;
        align-items: flex-start;

        overflow: auto;

        padding-left: 10px;
        padding-right: 0px;

        width: 100%;

    
        height: auto;
    }
}

@media (max-width: 992px) {
    .navbar-middle {
        margin-right: 0;
    }
}

@media (max-width: 715px) {
    .navbar-middle {
        display: none;
    }
}

@media (min-width: 1800px) {
     .navbar-icon {
        width: 55px;
        height: 55px;
    }

    .navbar-left > h1 {
        line-height: 1.5vw;
    }

    .cart-container{
        height: 1440px;
    }

    .orders{
        height: 1230px;
    }

    .checkout{
        height: 1230px;

        gap: 20px;
    }

    .product{
        height: auto;

        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .product-info{
        gap: 0px;
    }

    .add-button{
        width: 100px;
        height: 100px;
    }

    .add-button-img-size{
        width: 100px;
        height: 100px;
    }

    .delete-button{
        width: 100px;
        height: 100px;
    }

    .delete-button-img-size{
        width: 80px;
        height: 80px;
    }

    .checkout{
        gap: 0px;
    }

    .check-out-input > input{
        height: 70px;
    }
    
    .checkout > button {
        width: 200px;

        margin-top: 30px;
    }

    .product-buttons{
        padding-right: 40px;
    }
}