* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Palette */
    --bg-dark: oklch(88.916% 0.01375 145.801);
    --bg: oklch(97.107% 0.00332 147.101);
    --bg-light: oklch(94.44% 0.00895 135.351);

    --text: oklch(31.257% 0.01071 293.356);
    --text-muted: oklch(62.701% 0.01642 285.861);

    --highlight: oklch(74.688% 0.11371 153.479);
    --border: oklch(80.016% 0.00963 258.468);
    --border-muted: oklch(90.602% 0.00472 258.61);

    --primary-dark: oklch(66.207% 0.11791 155.434);
    --primary: oklch(73.06% 0.13082 155.622);
    --secondary: oklch(75.45% 0.10498 130.238);

    --danger: oklch(69.18% 0.14911 52.761);
    --warning: oklch(87.723% 0.16381 97.129);
    --success: oklch(73.241% 0.12357 159.134);
    --info: oklch(61.975% 0.1422 262.884);
}

body {
    background-color: var(--bg);
}

h1, h2, h3 {
    color: var(--text);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 22px;
    cursor: default;
}

p {
    color: var(--text-muted);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: default;
}

input {
    background-color: var(--bg);
    outline: none;
    background: none;
    border: none;
}

input:focus {
    outline: none;
    background: none;
    border: none;
}

label, input {
    color: var(--text);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button {
    background: none;
    border: none;

    color: var(--text);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-muted);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.hide {
    display: none;
}

.img-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
}

@media (min-width: 1800px) {
    h1, h2, h3 {
        font-size: 1.4vw;
    }

    p, label, input, button, a {
        font-size: 1.1vw;
    }
}