body {
    position: relative;
}

.content {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: auto;
}

.popup-on {
    max-height: 71.8vh;
    overflow: hidden;
}

.popup {
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;

    background-color:rgba(171, 171, 171, 0.75);
    backdrop-filter: blur(8px);

    width: 100%;
    height: 100vh;
}

.popup-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: var(--bg);

    z-index: 3;

    border: 1px var(--border) solid;
    border-radius: 8px;

    width: 900px;
    height: auto;

    padding-bottom: 35px;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    height: auto;
}

.popup-header > h1 {
    text-transform: capitalize;
}

.popup-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 20px;

    width: 100%;
    height: auto;
}

.popup-footer > button {
    background-color: var(--danger);
    border-radius: 4px;

    color: var(--text);
    font-weight: 500;

    cursor: pointer;

    padding: 5px 25px;

    transition: all ease-in-out 0.15s;
}

.popup-footer > button:hover {
    transform: scale(0.9);
}

.popup-header > h1{
    font-size: 32px;
    font-weight: light;
    margin-bottom: 10px;
}

.close-img-size{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    transition: all ease-in-out 0.15s;
}

.close-img-size:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.close-img{
    display: flex;

    background-image: url("./close-icon.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;

    height: 400px;
    width: 95%;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;

    height: auto;
    width: 95%;
}

.options-top{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;

    width: 100%;
    height: 50%;
}

.options-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    gap: 20px;

    width: 100%;
    height: 50%;
}

.options-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-dark);

    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25), inset 0 2px 4px 0 var(--bg-light);

    border-radius: 8px;
    border: 2px solid var(--border);

    height: 100%;
    width: 40%;

    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.options-box:hover {
    transform: scale(0.9);
}

.options-box > p{
    font-weight: bold;
    
    cursor: pointer;

    color: var(--text);
}

.options-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-dark);

    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25), inset 0 2px 4px 0 var(--bg-light);

    border-radius: 8px;
    border: 2px solid var(--border);

    height: 100%;
    width: 50%;

    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.options-box2:hover {
    transform: scale(0.95);
}

.options-box2 > p{
    font-weight: bold;
    
    cursor: pointer;

    color: var(--text);
}

.popup-close{
    display: flex;
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;
}

.savebtn {
    background-color: var(--primary);
    border-radius: 8px;

    font-weight: 600;

    margin-top: 15px;
    padding-block: 10px;

    width: 100%;
    height: auto;

    transition: all ease-in-out .15s;
}

.savebtn:hover {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    .options-box > p {
        text-align: center;
    }

    .options-box2 > p {
        text-align: center;
    }

    .options-bottom {
         gap: 10px;
    }

    .options-top {
         gap: 6px;
    }
}

@media (min-width: 1800px) {
    .popup-content{
        height: 40vw;
        width: 75vw;
    }

    .popup-header > h1{
        font-size: 3vw;
        font-weight: light;
    }

    .popup-header{
        padding-left: 50px;
        padding-right: 50px;
    }

    .close-img-size{
        width: 3vw;
        height: 3vw;
    }
}