.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 150px;
    height: 6vw;
    min-height: 100px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--border);

    width: 90%;
    height: 100%;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    width: auto;
    height: auto;
    max-height: 100%;
}

.navbar-left:hover > .navbar-icon {
    transform: scale(0.9);
}

.navbar-left:hover > .navbar-icon > .navbar-icon-container {
    background-image: url("logo-green.png");
}

.navbar-left:hover > h1 {
    transform: scale(0.9) translateX(-20px);
    color: var(--primary);
}

.navbar-icon {
    width: 45px;
    height: 45px;

    transition: all ease-in-out 0.15s;
}

.navbar-icon-container {
    background-image: url("logo-black.png");
    transition: all ease-in-out 0.15s;
}

.navbar-left > h1 {
    cursor: pointer;
    line-height: 25px;
    transition: all ease-in-out 0.15s;
}

.navbar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    margin-right: 100px;

    width: auto;
    height: 100%;
}

.navbar-middle > a {
    color: var(--text);
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.navbar-middle > a:hover {
    color: var(--primary);
    transform: scale(0.9);
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;
}

.signin {
    background-color: var(--bg-light);
    border-radius: 4px;

    padding: 5px 25px;

    transition: all ease-in-out 0.15s;
}

.signin:hover {
    background-color: var(--bg-dark);
    transform: scale(0.9);
}

.signin > p {
    cursor: pointer;
    color: var(--text);
    font-weight: 400;
}

.product {
    padding-top: 25px;
    padding-bottom: 15px;

    width: 100%;
    height: 87.9vh;
}

.product-container {
    display: flex;
    justify-content: center;
    grid-gap: 15px;

    width: 100%;
    height: 100%;
}

.product-size {
    border-radius: 8px;
    overflow: hidden;

    width: 40%;
    height: 100%;
}

.product-info {
    width: 49%;
    height: 100%;
}

.product-info-container {
    background-color: var(--bg-dark);
    border: 1px solid var(--border);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), inset 0 2px 2px 0 var(--bg-light);
    border-radius: 8px;

    padding: 20px;

    width: 100%;
    height: auto;
}

.product-info-container > h1 {
    text-transform: capitalize;
}

.product-info > button {
    background-color: var(--primary);
    border-radius: 6px;

    font-weight: 600;

    margin-top: 10px;
    padding: 10px 40px;

    transition: all ease-in-out .15s;
}

.product-info > button:hover {
    background-color: var(--primary-dark);
    transform: scale(0.95);
}

@media (min-width: 1800px) {
    .navbar-icon {
        width: 55px;
        height: 55px;
    }

    .navbar-middle > a {
        font-size: 1.2vw;
    }

    .navbar-left > h1 {
        font-size: 1.5vw;
        line-height: 1.5vw;
    }

    .signin > p {
        font-size: 1.2vw;
    }
}

@media (max-width: 1003px) {
    .product-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 0 10px;
    }

    .product-size {
        width: 92%;
    }

    .product-info {
        width: 92%;
    }
}

@media (max-width: 992px) {
    .navbar-middle {
        margin-right: 0;
    }
}

@media (max-width: 715px) {
    .navbar-middle {
        display: none;
    }
}