.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 150px;
    height: 6vw;
    min-height: 100px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--border);

    width: 90%;
    height: 100%;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    width: auto;
    height: auto;
    max-height: 100%;
}

.navbar-left:hover > .navbar-icon {
    transform: scale(0.9);
}

.navbar-left:hover > .navbar-icon > .navbar-icon-container {
    background-image: url("logo-green.png");
}

.navbar-left:hover > h1 {
    transform: scale(0.9) translateX(-20px);
    color: var(--primary);
}

.navbar-icon {
    width: 45px;
    height: 45px;

    transition: all ease-in-out 0.15s;
}

.navbar-icon-container {
    background-image: url("logo-black.png");
    transition: all ease-in-out 0.15s;
}

.navbar-left > h1 {
    cursor: pointer;
    line-height: 25px;
    transition: all ease-in-out 0.15s;
}

.navbar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    margin-right: 100px;

    width: auto;
    height: 100%;
}

.navbar-middle > a {
    color: var(--text);
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.navbar-middle > a:hover {
    color: var(--primary);
    transform: scale(0.9);
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100%;
}

.profile {
    background-color: var(--bg-dark);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50px;
    width: 3vw;
    height: 3vw;
    min-height: 50px;
}

.signin {
    background-color: var(--bg-light);
    border-radius: 4px;

    padding: 5px 25px;

    transition: all ease-in-out 0.15s;
}

.signin:hover {
    background-color: var(--bg-dark);
    transform: scale(0.9);
}

.signin > p {
    cursor: pointer;
    color: var(--text);
    font-weight: 400;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    margin-top: 15px;

    width: 100%;
    height: auto;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 15px;

    width: 90%;
    height: auto;
}

.category-box {
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 2px 2px 4px 0 var(--bg-dark);
    cursor: pointer;

    width: 18%;
    height: 75px;

    transition: all ease-in-out 0.15s;
}

.category-box:hover {
    transform: scale(0.9);
}

.fruits {
    background-image: url("fruits.png");
}

.vegetables {
    background-image: url("vegetables.png");
}

.meats {
    background-image: url("meats.png");
}

.cereals {
    background-image: url("cereals.png");
}

.wealth {
    background-image: url("wealth.png");
}

.category-overlay {
    background-color: oklch(73.06% 0.13082 155.622 / 0.90);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.category-overlay > h2 {
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 15px;

    width: 100%;
    height: auto;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;

    width: 90%;
    height: auto;
}

.product-form {
    width: 250px;
    height: 300px;
}

.product {
    background-color: var(--bg-dark);

    position: relative;
    
    display: flex;
    justify-content: flex-end;

    cursor: pointer;

    border-radius: 8px;
    box-shadow: 1px 2px 4px 0 rgb(0, 0, 0, 0.5);

    width: 100%;
    height: 100%;

    transition: all ease-in-out .15s;
}

.product:hover {
    transform: scale(0.98);
}

.product-container {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;
}

.product-banner {
    background-color: var(--bg-light);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 59%;
}

.product-banner > p {
    position: absolute;
    z-index: 0;    
}

.product-img {
    position: absolute;
    z-index: 1;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-info {
    margin: 10px 10px;
}

.product-info > h2 {
    text-transform: capitalize;
}

.product-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.price-discount {
    color: var(--secondary);
    font-weight: 600;
}

.price-without-discount {
    font-size: 12px;
    text-decoration: line-through;
}

.product-btn {
    background-color: var(--primary);
    border-radius: 4px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    width: 100%;
    height: 35px;

    transition: all ease-in-out 0.15s;
}

.product-btn:hover {
    background-color: oklch(78.943% 0.14154 155.742);
    transform: scale(0.95);
}

.product-discount {
    position: absolute;
    z-index: 1;

    background-color: var(--bg);
    border: 3px solid var(--primary);
    border-radius: 6px;

    margin-top: -15px;
    margin-right: -15px;
    padding: 5px 15px 
}

.product-discount > p {
    color: var(--primary);
    font-weight: 600;
}

body {
    position: relative;
}

.content {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: auto;
}

.popup-on {
    max-height: 71.8vh;
    overflow: hidden;
}

.popup {
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;

    background-color:rgba(171, 171, 171, 0.75);
    backdrop-filter: blur(8px);

    width: 100%;
    height: 100vh;
}

.popup-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: var(--bg);

    z-index: 3;

    border: 1px var(--border) solid;
    border-radius: 8px;

    margin: 10px;

    height: 500px;
    width: 900px;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    height: auto;
}

.popup-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 20px;

    width: 100%;
    height: auto;
}

.popup-footer > p {
    background-color: var(--danger);
    border-radius: 4px;

    color: var(--text);
    font-weight: 500;

    cursor: pointer;

    padding: 5px 25px;

    transition: all ease-in-out 0.15s;
}

.popup-footer > p:hover {
    transform: scale(0.9);
}

.popup-header > h1{
    font-size: 32px;
    font-weight: light;
}

.close-img-size{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    transition: all ease-in-out 0.15s;
}

.close-img-size:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.close-img{
    display: flex;

    background-image: url("./close-icon.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;

    height: 80%;
    width: 95%;
}

.options-top{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;

    width: 100%;
    height: 50%;
}

.options-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    gap: 20px;

    width: 100%;
    height: 50%;
}

.options-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-dark);

    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25), inset 0 2px 4px 0 var(--bg-light);

    border-radius: 8px;
    border: 2px solid var(--border);

    height: 100%;
    width: 40%;

    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.options-box:hover {
    transform: scale(0.9);
}

.options-box > p{
    font-weight: bold;
    
    cursor: pointer;

    color: var(--text);
}

.options-box2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-dark);

    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25), inset 0 2px 4px 0 var(--bg-light);

    border-radius: 8px;
    border: 2px solid var(--border);

    height: 100%;
    width: 50%;

    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.options-box2:hover {
    transform: scale(0.95);
}

.options-box2 > p{
    font-weight: bold;
    
    cursor: pointer;

    color: var(--text);
}

.popup-close{
    display: flex;
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .navbar-middle {
        margin-right: 0;
    }
}

@media(max-width: 850px) {
    .category-box {
        height: 60px;
    }

    .category-overlay > h2 {
        font-size: 18px;
    }
}

@media (max-width: 715px) {
    .navbar-middle {
        display: none;
    }

    .categories-container {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .category-box {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .product-form {
        width: 100%;
        height: 300px;
    }

    .options-box > p {
        text-align: center;
    }

    .options-box2 > p {
        text-align: center;
    }

    .options-bottom {
         gap: 10px;
    }

    .options-top {
         gap: 6px;
    }
}

@media (max-width: 450px) {
    .category-overlay > h2 {
        font-size: 16px;
    }
}

@media (min-width: 1800px) {
    .navbar-icon {
        width: 55px;
        height: 55px;
    }

    .navbar-middle > a {
        font-size: 1.2vw;
    }

    .navbar-left > h1 {
        font-size: 1.5vw;
        line-height: 1.5vw;
    }

    .signin > p {
        font-size: 1.2vw;
    }

    .category-box {
        height: 100px;
    }

    .category-overlay > h2 {
        font-size: 1.5vw;
    }

    .product {
        width: 350px;
        height: 390px;
    }

    .product-info > h2 {
        font-size: 30px;
    }

    .product-price > p:first-child {
        font-size: 23px;
    }

    .price-without-discount {
        font-size: 17px;
    }

    .product-btn {
        font-size: 17px;
        height: 45px;
    }

    .product-discount > p {
        font-size: 22px;
    }

    .popup-content{
        height: 40vw;
        width: 75vw;
    }

    .popup-header > h1{
        font-size: 3vw;
        font-weight: light;
    }

     .popup-header{
        padding-left: 50px;
        padding-right: 50px;
    }

    .close-img-size{
        width: 3vw;
        height: 3vw;
    }
}