.box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.box-container {
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 0 2px 0.2px rgba(0, 0, 0, 0.25);

    padding: 20px;
    margin: 0 15px;
}

.box-title {
    margin-bottom: 15px;
}

.box-title > p {
    margin-top: -2.5px;
}

.box-container > form {
    width: 100%;
    height: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;

    width: 100%;
    height: auto;
}

.inputs:not(.inputs:first-child) {
    margin-top: 10px;
}

.inputs > label > span {
    color: var(--danger);
}

.inputs > input {
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: 0 0 2px 0.2px rgba(0, 0, 0, 0.25);

    padding: 5px 10px;

    transition: all ease-in-out .15s;
}

.inputs > input:focus {
    box-shadow: 0 0 0 2.5px var(--border-muted);
}

.inputs > button {
    background-color: var(--primary);
    border-radius: 4px;

    margin-top: 15px;
    padding: 10px 0;

    width: 100%;
    height: auto;

    transition: all ease-in-out .15s;
}

.inputs > button:hover {
    background-color: oklch(66.207% 0.11791 155.434);
    transform: scale(0.95);
}

.inputs > a {
    color: var(--secondary);
    font-size: 13px;
    text-decoration: underline;
}

@media (min-width: 1800px) {
    .inputs > a {
        font-size: 0.9vw;
    }
}